In [1]:
import pandas as pd

import numpy as np
from numpy import random
import sys
from datetime import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
episodes = pd.read_csv('../episodes.csv')
ymrs = pd.read_csv('../ymrs.csv')
hdrs = pd.read_csv('../hdrs.csv')
interviews = pd.read_csv('../interviews.csv')
interventions = pd.read_csv('../interventions.csv')

In [3]:
episodes.drop('Unnamed: 0',axis=1)

  patient                start                  end episode
0       D  2017-07-01 00:00:00  2017-07-24 00:00:00       D
1       D  2017-08-15 00:00:00  2917-09-11 00:00:00       D
2       G  2017-07-24 00:00:00  2017-08-07 00:00:00       D
3       G  2017-09-04 00:00:00  2017-11-01 00:00:00       M
4       M  2017-06-07 00:00:00  2017-07-01 00:00:00       M
5       M  2017-07-14 00:00:00  2017-07-30 00:00:00       D
6       M  2017-09-25 00:00:00  2017-10-10 00:00:00       D

In [4]:
ymrs.drop('Unnamed: 0',axis=1)

,code,date,euphoria,hyperactivity,sexual_impulse,sleep,irritability,verbal_expression,language,thought,aggressiveness,appearance,illness_awareness
0,G,2017-06-06 00:00:00,0,1,0,0,2,2,0,0,0,0,0
1,G,2017-06-16 00:00:00,0,0,0,0,0,2,0,0,0,0,0
2,M,2017-06-21 00:00:00,0,1,0,0,0,2,0,0,2,0,0
3,M,2017-06-21 00:00:00,0,1,0,0,0,2,0,0,2,0,0
4,D,2017-06-26 00:00:00,1,1,0,0,0,2,0,0,0,0,0
5,M,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
6,M,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
7,G,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
8,D,2017-07-10 00:00:00,0,0,0,0,0,0,0,0,0,0,0
9,G,2017-07-12 00:00:00,0,2,0,0,2,0,0,0,0,0,0
10,M,2017-07-17 00:00:00,0,0,0,0,2,0,0,0,0,0,0
11,M,2017-07-17 00:00:00,0,0,0,0,2,0,0,0,0,0,0
12,G,2017-07-17 00:00:00,0,0,0,0,0,0,0,0,0,0,0
13,D,2017-07-24 00:00:00,0,0,0,0,0,0,0,0,0,0,0
14,G,2017-08-07 00:00:00,0,0,0,0,0,0,0,0,0,0,0
15,D,2017-08-21 00:00:00,0,0,0,0,0,0,0,0,0,0,0
16,M,2017-08-21 00:00:00,0,0,0,0,0,0,0,0,0,0,0
17,G,2017-08-30 00:00:00,0,0,0,0,2,0,0,0,2,0,0
18,G,2017-09-04 00:00:00,1,0,0,0,2,2,0,0,0,0,0
19,D,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,0,0,0
20,M,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,0,0,0
21,D,2017-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0
22,G,2017-10-02 00:00:00,0,0,0,0,2,0,0,0,0,0,0
23,M,2017-10-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
24,G,2017-10-16 00:00:00,0,0,0,0,2,0,0,0,0,0,0
25,M,2017-10-18 00:00:00,0,0,0,0,0,0,0,0,0,0,0
26,M,2017-10-30 00:00:00,0,0,0,0,0,0,0,0,0,0,0
27,G,2017-10-30 00:00:00,0,0,0,0,2,0,1,0,0,0,0
28,D,2017-11-04 00:00:00,0,0,0,0,0,0,0,0,0,0,0
29,M,2017-11-06 00:00:00,0,0,0,0,0,0,0,0,0,0,0
30,G,2017-11-08 00:00:00,0,0,0,0,0,2,0,0,2,0,0
31,G,2017-12-26 00:00:00,0,0,0,0,2,0,0,0,0,0,0
32,D,2017-12-29 00:00:00,0,0,0,0,0,0,0,0,0,0,0
33,M,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,0,0,0
34,D,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,0,0,0

In [5]:
hdrs.drop('Unnamed: 0',axis=1)

,code,date,depressed_mood,guilt,suicide,precocious_insomnia,medium_insomnia,verbal_expression,language,thought,...,retardation,agitation,psychic_anxiety,somatic_anxiety,somatic_gastrointestinal_symptoms,somatic_general_symptoms,genital_symptoms,hypochondria,weight_loss,illness_awareness
0,G,2017-06-06 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,G,2017-06-16 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,M,2017-06-21 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M,2017-06-21 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,D,2017-06-26 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,M,2017-07-03 00:00:00,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,M,2017-07-03 00:00:00,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,G,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,D,2017-07-10 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,D,2017-07-11 00:00:00,3,0,0,0,0,0,0,0,...,0,0,2,3,0,1,3,0,0,0
10,M,2017-07-17 00:00:00,2,1,0,0,2,0,0,0,...,1,0,1,0,2,0,0,0,0,0
11,G,2017-07-17 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,D,2017-07-24 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,M,2017-08-07 00:00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,G,2017-08-07 00:00:00,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,M,2017-08-21 00:00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,D,2017-08-21 00:00:00,2,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
17,G,2017-08-30 00:00:00,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,G,2017-09-04 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,D,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,M,2017-09-11 00:00:00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,G,2017-10-02 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,D,2017-10-02 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,M,2017-10-03 00:00:00,1,0,0,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
24,G,2017-10-16 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,M,2017-10-18 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,M,2017-10-20 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,G,2017-10-30 00:00:00,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,D,2017-11-04 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,M,2017-11-06 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,G,2017-11-08 00:00:00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,G,2017-12-12 00:00:00,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32,G,2017-12-26 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2,0,0,0
33,D,2017-12-29 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,M,2018-01-15 00:00:00,2,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35,D,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
interviews.drop('Unnamed: 0',axis=1)

,mood,motivation,attention,irritability,anxiety,sleep_quality,nr_cigarettes,caffeine,alcohol,other_drugs,patient,date,active_time
0,0,1,1,1,1,2,0,90,0,0,G,2007-07-17 00:00:00,1470
1,-1,-1,2,1,1,3,24,120,0,0,D,2017-01-02 00:00:00,1790
2,0,-1,2,1,1,1,24,90,0,0,D,2017-01-15 00:00:00,1545
3,2,2,3,3,3,3,34,150,0,0,D,2017-06-01 00:00:00,1710
4,2,2,3,3,3,3,38,150,0,0,D,2017-06-02 00:00:00,1770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,0,-1,1,1,1,3,20,90,0,0,M,2018-08-18 00:00:00,1585
643,0,0,1,1,1,1,12,90,0,0,M,2018-08-23 00:00:00,200
644,0,0,1,1,1,3,17,90,0,0,M,2018-08-24 00:00:00,300
645,-1,-1,2,1,1,2,26,120,0,0,D,2018-12-03 00:00:00,1710
646,0,-1,1,1,1,1,25,90,0,0,M,2018-12-04 00:00:00,1500

In [7]:
interventions.drop('Unnamed: 0',axis=1)

   code                 date  gaf  relief
0     D  2017-06-01 00:00:00   80       5
1     D  2017-06-01 00:00:00   80       5
2     G  2017-06-06 00:00:00   80       1
3     M  2017-06-07 00:00:00   60       3
4     G  2017-06-12 00:00:00   70       5
5     M  2017-06-15 00:00:00   80       3
6     G  2017-06-16 00:00:00   85       2
7     D  2017-06-19 00:00:00   80       3
8     M  2017-06-21 00:00:00   90       3
9     D  2017-06-26 00:00:00   85       3
10    G  2017-07-03 00:00:00   75       4
11    G  2017-07-03 00:00:00   75       4
12    M  2017-07-03 00:00:00   90       5
13    M  2017-07-05 00:00:00   90       3
14    D  2017-07-10 00:00:00   80       6
15    D  2017-07-12 00:00:00   50       7
16    M  2017-07-17 00:00:00   80       6
17    D  2017-07-17 00:00:00   60       5
18    D  2017-07-24 00:00:00   85       2
19    G  2017-07-24 00:00:00   75       5
20    M  2017-08-07 00:00:00   85       1
21    G  2017-08-07 00:00:00   65       5
22    G  2017-08-17 00:00:00   85       5
23    M  2017-08-21 00:00:00   90       2
24    D  2017-08-21 00:00:00   70       5
25    M  2017-08-23 00:00:00   90       3
26    D  2017-08-29 00:00:00   70       5
27    G  2017-08-30 00:00:00   80       5
28    G  2017-09-04 00:00:00   70       2
29    G  2017-09-04 00:00:00   85       2
30    M  2017-09-06 00:00:00   95       2
31    M  2017-09-06 00:00:00   95       2
32    M  2017-09-11 00:00:00   95       4
33    M  2017-09-11 00:00:00   95       4
34    D  2017-09-11 00:00:00   85       2
35    G  2017-09-15 00:00:00   90       6
36    D  2017-09-19 00:00:00   90       3
37    G  2017-09-25 00:00:00   75       4
38    M  2017-09-27 00:00:00   70       5
39    M  2017-09-27 00:00:00   70       5
40    G  2017-10-02 00:00:00   85       2
41    G  2017-10-16 00:00:00   80       2
42    M  2017-10-18 00:00:00   90       3
43    G  2017-10-23 00:00:00   80       3
44    M  2017-10-25 00:00:00   90       2
45    D  2017-10-26 00:00:00   85       3
46    M  2017-10-30 00:00:00   90       4
47    G  2017-10-30 00:00:00   80       6
48    D  2017-11-04 00:00:00   95       2
49    D  2017-12-11 00:00:00   85       3
50    G  2017-12-12 00:00:00   85       3
51    M  2017-12-18 00:00:00   85       3
52    G  2017-12-26 00:00:00   85       6
53    D  2017-12-29 00:00:00   90       3
54    M  2018-01-15 00:00:00   80       6
55    D  2018-01-15 00:00:00   90       3
56    D  2018-01-15 00:00:00   90       4
57    G  2018-01-22 00:00:00   80       3
58    M  2107-11-04 00:00:00   90       4

Correcting outliers in interviews dataset(look at Exploratory Data Analysis)

In [8]:
interviews.at[635,'caffeine']=90
interviews.at[701,'caffeine']=90
interviews.at[545,'nr_cigarettes']=12

The following function returns the index of a row if the given date exists in the data frame

In [9]:
def date_in_df(date, df):
    n = None
    for index, row in df.iterrows():
        if date == row.date:
            n = index
    return n

Let's try combining the Interview data set with the Intervention data set:

In [10]:
interviews_interventions = interventions.copy()

First, we have to initalize the columns of the combined data set with the same names as the interview data set:

In [11]:
for column in interviews.columns:
    if(column != 'patient' and column != 'date'):
        interviews_interventions[column] = np.nan

With the following snippet we combine the data sets:

In [12]:
for index, row in interviews_interventions.iterrows():
    n = date_in_df(row.date, interviews)
    if n != None and interviews['patient'][n] == row.code:
        for column in interviews.columns:
            if(column != 'patient' and column != 'date'):
                interviews_interventions[column][index] = interviews[column][n]

<ipython-input-12-40349c4a2ae3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  interviews_interventions[column][index] = interviews[column][n]

In [13]:
interviews_interventions.head()

,Unnamed: 0,code,date,gaf,relief,mood,motivation,attention,irritability,anxiety,sleep_quality,nr_cigarettes,caffeine,alcohol,other_drugs,active_time
0,0.0,D,2017-06-01 00:00:00,80,5,2.0,2.0,3.0,3.0,3.0,3.0,34.0,150.0,0.0,0.0,1710.0
1,0.0,D,2017-06-01 00:00:00,80,5,2.0,2.0,3.0,3.0,3.0,3.0,34.0,150.0,0.0,0.0,1710.0
2,257.0,G,2017-06-06 00:00:00,80,1,-1.0,-1.0,4.0,2.0,3.0,2.0,0.0,180.0,0.0,0.0,1500.0
3,NaN,M,2017-06-07 00:00:00,60,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,G,2017-06-12 00:00:00,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We drop the 'NaN' values, to get a data set with real data:

In [14]:
interviews_interventions.dropna(inplace=True)

In [15]:
interviews_interventions.head()

,Unnamed: 0,code,date,gaf,relief,mood,motivation,attention,irritability,anxiety,sleep_quality,nr_cigarettes,caffeine,alcohol,other_drugs,active_time
0,0.0,D,2017-06-01 00:00:00,80,5,2.0,2.0,3.0,3.0,3.0,3.0,34.0,150.0,0.0,0.0,1710.0
1,0.0,D,2017-06-01 00:00:00,80,5,2.0,2.0,3.0,3.0,3.0,3.0,34.0,150.0,0.0,0.0,1710.0
2,257.0,G,2017-06-06 00:00:00,80,1,-1.0,-1.0,4.0,2.0,3.0,2.0,0.0,180.0,0.0,0.0,1500.0
9,56.0,D,2017-06-26 00:00:00,85,3,1.0,0.0,2.0,1.0,3.0,1.0,34.0,150.0,0.0,0.0,1685.0
14,70.0,D,2017-07-10 00:00:00,80,6,-2.0,-1.0,3.0,1.0,3.0,1.0,34.0,120.0,0.0,0.0,1670.0

This leaves us with a very small data set, but we can still use it as an example for testing algorithm accuracies. Now, we drop the columns with only one value and convert all the data to the same type:

We can create a function that tells us which variables are "plottable", which means that they have more than one value, because we can't plot singular matrices:

In [16]:
def get_plottable_columns(df):
    for column in df:
        print (column, ": ",end ="")
        n_values = len(df[column].unique())
        if n_values > 1:
            print ("Yes, ", n_values, " values") 
        else:
            print ("No, 1 value")

In [17]:
get_plottable_columns(interviews_interventions)

Unnamed: 0 : Yes,  13  values
code : Yes,  3  values
date : Yes,  13  values
gaf : Yes,  4  values
relief : Yes,  5  values
mood : Yes,  5  values
motivation : Yes,  4  values
attention : Yes,  4  values
irritability : Yes,  3  values
anxiety : Yes,  4  values
sleep_quality : Yes,  3  values
nr_cigarettes : Yes,  6  values
caffeine : Yes,  5  values
alcohol : No, 1 value
other_drugs : No, 1 value
active_time : Yes,  13  values

In [18]:
interviews_interventions = interviews_interventions.drop("alcohol", 1)
interviews_interventions = interviews_interventions.drop("other_drugs", 1)

In [19]:
interviews_interventions.dtypes

Unnamed: 0       float64
code              object
date              object
gaf                int64
relief             int64
mood             float64
motivation       float64
attention        float64
irritability     float64
anxiety          float64
sleep_quality    float64
nr_cigarettes    float64
caffeine         float64
active_time      float64
dtype: object

We change the floating point variables to integers, so that all variables have the same value:

In [20]:
interviews_interventions.mood = interviews_interventions.mood.astype(int)
interviews_interventions.motivation = interviews_interventions.motivation.astype(int)
interviews_interventions.attention = interviews_interventions.attention.astype(int)
interviews_interventions.irritability = interviews_interventions.irritability.astype(int)
interviews_interventions.anxiety = interviews_interventions.anxiety.astype(int)
interviews_interventions.sleep_quality = interviews_interventions.sleep_quality.astype(int)
interviews_interventions.nr_cigarettes = interviews_interventions.nr_cigarettes.astype(int)
interviews_interventions.caffeine = interviews_interventions.caffeine.astype(int)
interviews_interventions.active_time = interviews_interventions.active_time.astype(int)

Now, we can combine the data set with episode intervals:

We define a function that combines these two datasets based on the date. This function iterates over a data set and compares it with the mania and depression episodes defined in the Episode data set. I have assumed that if the dates from the entries of the data set are not included in the episode intervals from the Episode dataset, the patient was in a normal state. This way we get three possible states a patient can be in (Depression->'D', Mania->'M' and Normal->'N').

In [21]:
def checkEpisode(date, patient):
    episode = 'N'
    ep = episodes.loc[episodes['patient'] == patient]
    for index, row in ep.iterrows():
        if date >= row.start and date < row.end:
            episode = row.episode
    return episode

In [22]:
for index, row in interviews_interventions.iterrows():
    interviews_interventions.at[index, 'episode'] = checkEpisode(row.date, row.code)

We now proceed to drop the 'date' and 'code' columns, as we don't need them for the prediction:

In [23]:
interviews_interventions = interviews_interventions.drop("date", 1)
interviews_interventions = interviews_interventions.drop("code", 1)

In [25]:
print ("Length of the combined data set (interviews and interventions): ",
len(interviews_interventions))

Length of the combined data set (interviews and interventions):  14

We now have a data set to test the accuracy of different algorithms on:

In [27]:
interviews_interventions.drop('Unnamed: 0',axis=1)

,gaf,relief,mood,motivation,attention,irritability,anxiety,sleep_quality,nr_cigarettes,caffeine,active_time,episode
0,80,5,2,2,3,3,3,3,34,150,1710,N
1,80,5,2,2,3,3,3,3,34,150,1710,N
2,80,1,-1,-1,4,2,3,2,0,180,1500,N
9,85,3,1,0,2,1,3,1,34,150,1685,N
14,80,6,-2,-1,3,1,3,1,34,120,1670,D
16,80,6,-2,-2,2,1,2,1,119,90,1215,D
21,65,5,-2,-1,3,1,1,1,0,90,1595,N
23,90,2,0,-1,1,1,1,2,15,90,45,N
35,90,6,-2,-2,1,1,1,1,0,90,1400,M
40,85,2,-1,-1,1,3,1,1,0,90,1530,M
41,80,2,-1,-1,1,3,1,1,0,90,1170,M
50,85,3,-1,-1,1,2,1,1,12,120,1430,N
54,80,6,-2,-2,1,2,3,1,11,0,1245,N
57,80,3,-1,-1,2,2,4,2,0,180,1585,N

In [28]:
interviews_interventions.to_csv('interviews_interventions.csv',index = False)